DATABASE_URL=postgresql://postgres.ntmwsjsoleybrozutzjs:xUMjW2tpGoD78cSm@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres
PORT=3001
CLIENT_ORIGIN=http://localhost:3000/
SUPABASE_URL=https://ntmwsjsoleybrozutzjs.supabase.co/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im50bXdzanNvbGV5YnJvenV0empzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY1NTk2NzgsImV4cCI6MjEwMjEzNTY3OH0.v0g-_GBjKQDFvIQqJOztGJoW3QqsdtYVoCPx2vQltVA